# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# C++ Builder
*.~*
*.tds
*.ild
*.ilk
*.ilc
*.ilf 
*.ils
*.map
*.stat
*.cbproj.local
*.groupproj.local
*.ddp
*.dsk
__recovery/
__history/
__astcache/

# MSVC temporary files
*.pdb

# MSVC Intellisense Data
*.ncb

# Code::Blocks
*.depend
*.layout

# Releases
.releases/

# Project Internals
doc/internal/
assets/Fonts/
bin/Data/Sound/Music

# Temporary/generated folders and files
tmp/

# 3rd party
lib/**/

# User Data
bin/*.txt
bin/*.pCfg
bin/*.cfg
bin/out/**
